/* Wrapper to prevent cards touching screen edges */
.serviceSwiperWrapper {
  max-width: 1200px; /* range limit */
  margin: 0 auto;    /* centers the whole swiper */
  padding: 0 40px;   /* add buffer space */
}

/* Main container */
.serviceSwiper {
  width: 100%;
  padding: 40px 0;
  
}
/* Slight scale effect when centered */
/* Force all slides to same size */
.serviceSwiper .swiper-slide {
  width: 300px ;
}

/* Disable all interaction by default (Swiper trick) */
.swiper-slide {
  pointer-events: none;
}

/* Only center active slide is clickable */
.swiper-slide-active {
  pointer-events: auto;
  z-index: 2;
}


/* Card Base */
.card {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  transition: transform 0.3s ease;

}

/* Slight zoom on active card */
.swiper-slide-active .card {
  transform: scale(1.07);
}

/* Card Content layout */
.card-content {
  display: block;
  flex-direction: column;
  gap: 10px;
  
}

.icon {
  font-size: 2.0rem;
  margin-bottom: 10px;
  display: inline-block;
}

.card-content h3 {
  margin: 10px 0 0 0;
  font-size: 1.6rem;
  color: #283618;
}

.card-content p {
  margin: 25px 0 0 0;
  font-size: 0.95rem;
  color: #444;
}

/* Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 30px;
  height: 30px;
  z-index: 10;
  pointer-events: auto;
}




/* Pagination dots */
.swiper-pagination-bullet {
  background: #fff;
}

.learn-more-button {
  margin-top: 30px;
  padding: 8px 12px;
  background-color: #BC6C25;
  color: #FEFAE0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  pointer-events: auto !important; /* Force pointer events */
  position: relative;
  z-index: 10; /* High z-index for the button */
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #DDA15E;
}