.footer {
    background-color: #283618; 
    border-top: 2px solid #fefae0;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}
/* @media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
} */