.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  color: black;
  padding: 15px 30px;
  position: relative;
  border-bottom: 2px solid #DDA15E;  
   
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo h2,
.logo h6 {
  margin: 0;
  line-height: 1.1;
}

.logo h6 {
  font-size: 0.6rem;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #BC6C25;
}