.qualityCard {
  width: 350px;
  height: 250px;
  background-color: #283618;
  color: #FEFAE0;
  border-radius: 8px;
  box-shadow: 12px 12px 2px 1px rgba(15, 15, 16, 0.2);
  padding:1px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 200px;
}

.qualityCard:hover {
  transform: translateY(-5px);
  
}

.qualityCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* ================= MOBILE VIEW ================= */
@media (max-width: 768px) {

  .qualityCard {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 40px;
  }

  .qualityCard h2 {
    font-size: 18px;
  }
}
