body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
} */

/* .page {
  padding: 40px;
  text-align: center;
  color:black;
}

button {
  background-color: #BC6C25;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #DDA15E;
} */

/* footer {
  background-color: #283618;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
} */
