.sec1 {
  font-size: 18px;
  margin: 5px;
  line-height: 1.6;
  color: #444;
  padding:20px 60px 20px 60px ;
}

.sec2 {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;

}

.img-card {
  display: flex;
  flex-direction: column; /* image on top, text below */
  align-items: center;
  text-align: center;
}

.img-card img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.name {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
}
.position {
  font-size: 18px;
  color: #444;
  margin-top: 0px;
}